<!--div class="aaa">text apagar</div-->
<!--header-->
<app-header></app-header>

<div class="grid-container">
  <div class="grid-x grid-padding-x">
    <div class="large-12 cell">
      <div class="grid-x grid-padding-x" id="container-conteudo">
        <!--Filtros mobile-->
        <div class="large-2 medium-2 cell" id="width-filtrosm">
          <app-filtros></app-filtros>
        </div>

        <div class="large-10 medium-10 cell" id="width-bpesquisa">
          <!--Barra de pesquisa-->
          <app-barra-pesquisa></app-barra-pesquisa>

          <!--Conteudo investimentos-->
          <app-conteudo-investimentos></app-conteudo-investimentos>
        </div>

        <!--Filtros-->
        <div class="large-2 medium-2 cell" id="width-filtros">
          <app-filtros></app-filtros>
        </div>

        <!--Legenda-->
        <div class="large-4 medium-4 cell" id="width-legenda">
          <app-legenda></app-legenda>
        </div>

        <!--Rodapé-->
        <div class="large-12 medium-12 cell">
          <app-footer></app-footer>
        </div>



      </div>
    </div>
  </div>
</div>
