<div id="box-filtros" class="filtro">
  <label class="check-filtro estratedia-renda-fixa" id="expand-check">
    <input type="checkbox" checked="checked">
    <span class="checkmark" id="checkmark"></span>
    <h5>RENDA FIXA</h5>
  </label>
  <div class="box-expand">
    <img src="assets/images/expand.png" alt="buscar">
  </div>

  <hr><label class="check-filtro sub-check indexado-soberano">
    <input type="checkbox" checked="checked">
    <span class="checkmark"></span>
    <p>Indexado Soberano</p>
  </label>

  <hr><label class="check-filtro sub-check renda-fixa">
    <input type="checkbox" checked="checked">
    <span class="checkmark"></span>
    <p>Renda Fixa</p>
  </label>

  <hr><label class="check-filtro sub-check rf-cred-privado">
    <input type="checkbox" checked="checked">
    <span class="checkmark"></span>
    <p>Renda Fixa Crédito Privado</p>
  </label>

  <hr><label class="check-filtro sub-check cred-priv-hy">
    <input type="checkbox" checked="checked">
    <span class="checkmark"></span>
    <p>Crédito Privado High Yield</p>
  </label>

  <hr><label class="check-filtro sub-check rf-infl-soberano">
    <input type="checkbox" checked="checked">
    <span class="checkmark"></span>
    <p>Renda Fixa Inflação Soberano</p>
  </label>

  <hr><label class="check-filtro sub-check infl-cred-priv">
    <input type="checkbox" checked="checked">
    <span class="checkmark"></span>
    <p>Inflação Crédito Privado</p><br>
  </label>
</div>
