<div id="box-legenda">
  <div id="grid-legenda">
    <h4>LEGENDA</h4>

    <div class="topico-leganda">
      <img src="assets/images/star.png" alt="">
      <p>Fundo para investidor qualificado</p>
    </div>
    <div class="topico-leganda">
      <img src="assets/images/check.png" alt="">
      <p>Você já investe neste fundo</p>
    </div>
    <div class="topico-leganda">
      <img src="assets/images/informacao.png" alt="">
      <p>Entenda o resgate deste fundo</p>
    </div>
    <div class="topico-leganda">
      <img src="assets/images/fechado.png" alt="">
      <p>Fundo fechado para aplicação</p>
    </div>
    <div class="topico-leganda">
      <img src="assets/images/aplicar.png" alt="">
      <p>Aplicar neste fundo</p>
    </div>
  </div>
</div>
