<!----grade de informação investimentos----->
<div class="grid-x" id="box-conteudo-invest">
  <!--area fundo--->
  <div id="ex"></div>
  <div class="large-3 medium-3 cell esconde-mobile" >
    <h3>Fundo</h3>
  </div>
  <!--area data cota--->
  <div class="large-2 medium-2 cell esconde-mobile" >
    <h5>Data<br>da cota</h5>
  </div>
  <!--area Rentabilidade--->
  <div class="large-2 medium-2 cell esconde-mobile" >
    <h5>Rentabilidade(%)</h5>
    <div class="grid-x">
      <div class="large-4 medium-4 cell esconde-mobile" ><p>Mês</p></div>
      <div class="large-4 medium-4 cell esconde-mobile" ><p>2016</p></div>
      <div class="large-4 medium-4 cell esconde-mobile" ><p>12M</p></div>
    </div>
  </div>
  <!--area Aplicação mínima--->
  <div class="large-2 medium-2 cell esconde-mobile" >
    <h4>Aplicação mínima<br>(R$)</h4>
  </div>
  <!--area Prazo Resgate--->
  <div class="large-2 medium-2 cell esconde-mobile" >
    <h5>Prazo<br> de Resgate</h5>
  </div>
  <!--area aplicar--->
  <div class="large-1 medium-1 cell esconde-mobile" >
    <h2>Aplicar</h2>
  </div>

<!-----------area Estratégias investimentos----------->
  <div class="large-12 medium-12 cell box-estrategia" id="estrategia">
    <h2>RENDA FIXA</h2>
  </div>









  <!---Estratégias subgrupos--->
  <!--indexado soberano-->
  <div class="large-12 medium-12 cell box-estrategia-sub c-indexado-soberano" id="estrategia-sub">
    <h2>Indexado Soberano</h2>
  </div>
  <div  class="large-12 medium-12" id="geral-indexado-soberano"></div>

  <!--Renda Fixa-->
  <div class="large-12 medium-12 cell box-estrategia-sub c-renda-fixa" id="estrategia-sub">
    <h2>Renda Fixa</h2>
  </div>
  <div  class="large-12 medium-12" id="geral-renda-fixa"></div>

  <!--Renda Fixa Crédito Privado-->
  <div class="large-12 medium-12 cell box-estrategia-sub c-rf-cred-privado" id="estrategia-sub">
    <h2>Renda Fixa Crédito Privado</h2>
  </div>
  <div  class="large-12 medium-12" id="geral-rf-cred-privado"></div>

  <!--Crédito Privado High Yield-->
  <div class="large-12 medium-12 cell box-estrategia-sub c-cred-priv-hy" id="estrategia-sub">
    <h2>Crédito Privado High Yield</h2>
  </div>
  <div  class="large-12 medium-12" id="geral-cred-priv-hy"></div>

  <!--Renda Fixa Inflação Soberano-->
  <div class="large-12 medium-12 cell box-estrategia-sub c-rf-infl-soberano" id="estrategia-sub">
    <h2>Renda Fixa Inflação Soberano</h2>
  </div>
  <div  class="large-12 medium-12" id="geral-rf-infl-soberano"></div>

  <!--Inflação Crédito Privado-->
  <div class="large-12 medium-12 cell box-estrategia-sub c-infl-cred-priv" id="estrategia-sub">
    <h2>Inflação Crédito Privado</h2>
  </div>
  <div  class="large-12 medium-12" id="geral-infl-cred-priv"></div>


</div>
